###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
converters_test_score.json
###< phpunit/phpunit ###

.Halite.key
.idea
/.docker/data/certs/*.crt
/.docker/data/certs/*.key
/config/jwt/*.pem
*.DS_Store
orders/*/

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###